/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Open Sans, Helvetica, Arial, sans-serif;
  font-size: small;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }
p:first-child { margin: 0; }

a         { color: #0091dc; }
a:hover   { color: #00a8ff; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.top-bar {
  box-shadow: 0 0 25px 0 #000;
}

.header {
  background: url(../images/adlerteens.jpg) no-repeat center;
  background-size: cover;
  display: table;
  height: 500px;
  text-align: center;
  width: 100%;
}

.header .title {
  color: #fff;
  display: table-cell;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 0 0 20px #000;
  vertical-align: middle
}

.footer {
  background: #ececec;
  border-top: 1px solid #ccc;
  color: #666;
  font-size: 80%;
  margin-top: 12em;
  padding:  6em 0;
  overflow: hidden;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #BDD9FF;
}

.post pre.terminal code {
  background-color: #333;
}
